:host {
    margin-top: 1rem;
    display: block;
  
  }
  
  .info-text{
    text-align: center;
  }
  
  
.mat-form-field,
.mat-checkbox {
  display: flex;
  justify-content: center;
}

/* Center-align text */
.mat-expansion-panel-header,
.mat-checkbox-label {
  text-align: center;
}

