:host {
    margin-top: 1rem;
    display: block;
  
  }
  
  .info-text{
    text-align: center;
    color: white;
    font-size: 19px;
  }
  
  
.mat-form-field,
.mat-checkbox {
  display: flex;
  justify-content: center;
}

/* Center-align text */
.mat-expansion-panel-header,
.mat-checkbox-label {
  text-align: center;
}


.header-actions {
  display: flex;
  align-items: center;
}

.header-actions button {
  margin-left: auto; 
}



.delete-button {
  margin-left: auto; 
  border: 1px solid red;
}


mat-checkbox, .info {
  display: block;
}

mat-expansion-panel {
  background-color: #131313;
}

mat-expansion-panel-content p {
  color: #aaa; 
}

mat-expansion-panel-header span {
  color: #fff; 
  font-weight: bold;
}

.project-details {
  color: #aaa; 
}

.project-header {
  text-align: center;
  margin-bottom: 20px;
}

.project-header h1 {
  font-size: 36px;
  font-weight: bold;
  color: #cec7c7;
  text-align: center;
  margin-bottom: 20px;
}

.project-header p {
  font-size: 18px;
  color: #797373;
  text-align: center;
}

mat-expansion-panel-header {
  padding: 10px;
  margin-top: 10px;
}

mat-expansion-panel-content {
  border: 1px solid #fff;
  padding: 10px;
  margin-top: -1px; /* removes the gap between the header and content borders */
  border-radius: 0 0 10px 10px; 
}

.mat-expansion-panel{
  border: 1px solid #fff;
  
}

.mat-expansion-panel-body {
  padding: 10px; 
}


.mat-expansion-panel-header span,
.information-text,
.project-header h1,
.project-header p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel-header {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.information-text {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: rgb(195, 188, 188);
  border-radius: 10px;
  padding: 10px
}