<div class="project-header">
  <h1>YOUR PROJECTS</h1>
  <p>Manage and track the progress of all of your projects</p>
</div>

<mat-accordion displayMode="default" [multi]="true" [hideToggle]="false" *ngIf="posts.length > 0">
  <mat-expansion-panel [hideToggle]="false" *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <span>{{ post.title }}</span>
      <button mat-button color="warn" class="delete-button" (click)="deletePost(post._id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-expansion-panel-header>
    <div class="information-text">
      <p><strong>Title:</strong> {{ post.title }}</p>
      <p><strong>Description:</strong> {{ post.content }}</p>
      <p><strong>Deadline:</strong> {{ post.date | date: 'fullDate' }}</p>
      <div *ngIf="post.tasks?.length > 0">
        <h3>Tasks:</h3>
        <ul>
          <li *ngFor="let task of post.tasks">
            <mat-checkbox
              [checked]="task.completed"
              (change)="toggleTaskCompletion(post._id, task._id, $event.checked)">
              {{ task.description }}
            </mat-checkbox>
          </li>
        </ul>
      </div>
      <p *ngIf="!post.tasks || post.tasks.length === 0">No tasks assigned to this post.</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body" *ngIf="posts.length <= 0"> No projects yet</p>
