<mat-card class="post-card">
  <div class="create-project-container">
    <div class="create-project-text">
      <span class="large-text">Create New Project</span>
    </div>
    <div class="create-project-text">
      <span class="grey-text">Enter the details below to start a new project</span>
    </div>
  </div>
  <div class="form-container">
    <div class="input-label project-name">
      <span class="small-text">Project Name</span>
      <mat-form-field class="same-width white-border">
        <input matInput type="text" placeholder="Enter project name" [(ngModel)]="enteredTitle">
      </mat-form-field>
    </div>
    
    <div class="input-label description">
      <span class="small-text">Description</span>
      <mat-form-field class="same-width white-border">
        <textarea matInput placeholder="Enter project description" [(ngModel)]="enteredContent" rows="6"></textarea>
      </mat-form-field>
    </div>
    
    <div class="input-label deadline">
      <span class="small-text">Deadline </span>
      <mat-form-field class="same-width white-border">
        <input matInput [matDatepicker]="picker" placeholder="Select Date" [(ngModel)]="enteredDate" name="enteredDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
<!-- add tasks -->
<div class="input-label tasks">
  <span class="small-text">Tasks</span>
  <mat-form-field class="same-width white-border">
    <input matInput placeholder="Enter task" [(ngModel)]="newTaskDescription">
  </mat-form-field>
  <button mat-button color="primary" (click)="addTask()">Add Task</button>
  <ul>
    <li *ngFor="let task of tasks">{{ task.description }}</li>
  </ul>
</div>

  <!-- Save Post button -->
  <button mat-raised-button color="black" class="create-button same-width" (click)="onAddPost()">+ Save Post</button>
</mat-card>
