<mat-card>
  <div class="create-project-container">
    <div class="create-project-text">
      <span class="large-text">Create New Project</span>
      <span class="small-text">Enter the details below to start a new project</span>
    </div>
  </div>
  <div class="form-container">
    <mat-form-field class="project-name">
      <input matInput type="text" placeholder="Project Name" [(ngModel)]="enteredTitle">
    </mat-form-field>
    <mat-form-field class="description">
      <textarea matInput placeholder="Description" [(ngModel)]="enteredContent" rows="6"></textarea>
    </mat-form-field>
    <mat-form-field class="deadline">
      <input matInput [matDatepicker]="picker" placeholder="Deadline" [(ngModel)]="enteredDate" name="enteredDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" class="create-button" (click)="onAddPost()">Save Post</button>
</mat-card>
