<div class="dashboard-header">
  <h1>Dashboard</h1>
  <h2>Welcome to your project management dashboard. Here are the projects with the nearest deadline.</h2>
</div>

<div *ngIf="posts.length > 0" class="cards-container">
  <mat-card *ngFor="let post of posts" class="post-card">
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ post.content }}</p>
      <p>Deadline: {{post.date | date: 'fullDate'  }}</p>
      <div *ngIf="post.tasks?.length > 0">
        <h4>Tasks:</h4>
        <ul>
          <li *ngFor="let task of post.tasks">
            {{ task.description }} - {{ task.completed ? 'Completed' : 'Incomplete' }}
          </li>
        </ul>
      </div>
      <p *ngIf="!post.tasks || post.tasks.length === 0">No tasks assigned to this post.</p>
    </mat-card-content>
  </mat-card>
</div>
<p *ngIf="posts.length <= 0" class="info-text mat-body">No posts yet</p>